<script type="text/x-template" id="bottom-bar-template">
  <div id="bottom-bar">
    <button id="addcontact">
      <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
      <span>Adicionar Contato</span>
    </button>
    <button id="settings">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
      <span>Configurações</span>
    </button>
  </div>
</script>
