<script type="text/x-template" id="profile-template">
  <div id="profile">
    <div class="wrap">
      <img id="profile-img" v-bind:src="user.image_url" class="online" />
      <p>{{ user.name }}</p>
    </div>
  </div>
</script>
