<script type="text/x-template" id="search-template">
  <div id="search">
    <label>
      <i class="fa fa-search" aria-hidden="true"></i>
    </label>
    <input type="text" placeholder="Filtrar contatos..." />
  </div>
</script>
