<script type="text/x-template" id="messages-template">
  <div class="messages">
    <ul>
      <li v-bind:class="message.type" v-for="message in messages">
        <img v-bind:src="message.contact_img" alt="" />
        <p>{{ message.body }}</p>
      </li>
    </ul>
  </div>
</script>
